{
  "plugins": [
    "stylelint-prettier"
  ],
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-recess-order",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "value-keyword-case": [
      "lower",
      {
        "ignoreKeywords": [
          "dummyValue"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "**/node_modules/**"
  ]
}
